{% extends 'base.jinja'%}
{% from './_partials/_form_errors.jinja' import form_errors%}
{% block content%}
<a href="/" class="btn btn-secondary mb-6">Retour</a>
<div class="bg-base-200 p-4 min-w-[50%] flex flex-col items-center">
    <h1 class="text-3xl font-bold text-neutral">Consultation de l'api "{{api_infos.get('title')}}"</h1>
    <div class="divider"></div>
    <form method="post" action="" class="w-full max-w-lg">
        <div class="mb-4 flex flex-col gap-3">
            <div class="flex flex-1 justify-between">
                <span class="flex gap-1"><p class="font-semibold">ID :</p><p>1</p></span>
                <span class="flex gap-1"><p class="font-semibold">Statut :</p><p>Online (1h ago)</p></span>
            </div>
            <div class="flex flex-1 justify-between">
                <span class="flex gap-1"><p class="font-semibold">Date création :</p><p>01/01/2021</p></span>
                <span class="flex gap-1"><p class="font-semibold">Date modification :</p><p>01/01/2026</p></span>
            </div>
        </div>
        <div class="mb-4">
            {{ form.title.label(class_="font-medium text-primary") }}
            {{ form.title(class_="mt-1 w-full input input-primary") }}
            {{ form_errors(form.title.errors) }}
        </div>
        <div class="mb-4">
            {{ form.endpoint_url.label(class_="font-medium text-primary") }}
            {{ form.endpoint_url(class_="mt-1 w-full input input-primary") }}
            {{ form_errors(form.endpoint_url.errors) }}
        </div>
        <div class="mb-4 flex flex-col">
            {{ form.type.label(class_="font-medium text-primary") }}
            {{ form.type(class_="mt-1 w-full select select-primary max-w-xs") }}
            {{ form_errors(form.type.errors) }}
        </div>
        <div class="mb-4">
            {{ form.api_key.label(class_="font-medium text-primary") }}
            {{ form.api_key(class_="mt-1 w-full input input-primary") }}
            {{ form_errors(form.api_key.errors) }}
        </div>
        <div class="mb-4">
            {{ form.description.label(class_="font-medium text-primary") }}
            {{ form.description(class_="mt-1 w-full input textarea textarea-primary", rows="4") }}
            {{ form_errors(form.description.errors) }}
        </div>
        <div class="flex justify-end">
            {{ form.csrf_token }}
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock%}